pkgbase = xsecurelock-auth-u2f
	pkgdesc = Auth module for XSecureLock with better support to U2F
	pkgver = 1.7.0+u2f1
	pkgrel = 1
	url = https://github.com/google/xsecurelock
	arch = x86_64
	license = APACHE
	depends = libxcomposite
	depends = libxmu
	depends = libxft
	depends = libxrandr
	depends = libxss
	source = xsecurelock-auth-u2f.tar.gz::https://github.com/kriansa/xsecurelock/tarball/feat/proto-timeout
	sha256sums = ebdc06c0510ee23e820621f5c477546151ad690b9d553eb2dc44e95143842c6c

pkgname = xsecurelock-auth-u2f
