pkgbase = xsecurelock-auth-u2f
	pkgdesc = Auth module for XSecureLock with better support to U2F
	pkgver = 1.7.0+u2f1
	pkgrel = 1
	url = https://github.com/google/xsecurelock
	arch = x86_64
	license = APACHE
	depends = libxcomposite
	depends = libxmu
	depends = libxft
	depends = libxrandr
	depends = libxss
	source = xsecurelock-auth-u2f.tar.gz::https://github.com/kriansa/xsecurelock/tarball/feat/proto-timeout
	sha256sums = af8c43150410de5ae7dd874df4b411cda4a68185bd820fd5a2a1e25c90d220dc

pkgname = xsecurelock-auth-u2f
